# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Distribuciones / instaladores
build/
dist/
*.egg-info/

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración local
*.log
.env
instance/
