@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    background-image: url(imagenes/352993-admin.jpg);
    background-size: cover;
}

/* Contenedor principal */
.register-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 40px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

/* Título */
.register-container h2 {
    text-align: center;
    color: #000000;
    font-size: 2.8rem;
    margin-bottom: 30px;
}

#registerForm {
    text-align: center;
}

/* Grupos de entrada */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #111111;
    font-size: 2rem;
}

/* Campos de entrada uniformes */
.input-group input[type="text"],
.input-group input[type="password"],
.input-group input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1.8rem;
    box-sizing: border-box;
}

/* Texto debajo de la contraseña */
.input-group .info-text {
    display: block;
    margin-top: 5px;
    font-size: 1.4rem;
    color: #666;
}

/* Botón de enviar */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #037903;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2rem;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #049410;
}

/* Enlaces inferiores */
.register-links {
    text-align: center;
    margin-top: 20px;
    font-size: 1.6rem;
}

.register-links a {
    color: #037903;
    text-decoration: none;
    margin: 5px;
    display: inline-block;
    font-size: 2rem;
}

.register-links a:hover {
    text-decoration: underline;
}

/* Responsivo */
@media screen and (max-width: 768px) {
    .register-container {
        max-width: 90%;
    }
}

/* Estilos de alertas flash */
ul {
    padding: 0;
    list-style: none;
    margin: 20px 0;
}

ul li {
    font-size: 1.8rem;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

ul li:hover {
    transform: scale(1.05);
}

.input-group input::placeholder {
    color: #999;
    font-style: italic;
    font-size: 1.7rem;
    opacity: 1; /* Para que se vea claramente */
}

