<!-- templates/cambiar_contrasena.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar Contraseña</title>
    <link rel="stylesheet" href="../static/cambiar_contrasena.css">
</head>
<body>
    <div class="cambiar-container">
        <h2>Cambiar Contraseña</h2>
        <form method="POST">
            <div class="input-group">
                <label for="nueva_contrasena">Nueva Contraseña:</label>
                <input type="password" id="nueva_contrasena" name="nueva_contrasena" required>
            </div>
            <button type="submit">Cambiar Contraseña</button>
        </form>
    </div>
</body>
</html>
