<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Sidebar</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css') }}">
</head>
<body>
  <div class="sidebar">
  <h2>Admin Panel</h2>
<ul>
  <li>
    <a href="{{ url_for('admin_panel') }}">
      <i class="bi bi-speedometer2"></i> Panel Admin
    </a>
  </li>
  <li>
    <a href="{{ url_for('gestionar_admins') }}">
      <i class="bi bi-people"></i> Administradores registrados
    </a>
  </li>
  <li>
    <a href="{{ url_for('ver_cotizaciones') }}">
      <i class="bi bi-file-earmark-text"></i> Cotizaciones
    </a>
  </li>
  <li>
    <a href="{{ url_for('historial_cotizaciones_rechazadas') }}">
      <i class="bi bi-journal-text"></i>Cotizaciones Rechazadas
    </a>
  </li>
  <li>
    <a href="{{ url_for('gestionar_inventario') }}">
      <i class="bi bi-box-seam"></i> Gestión de Inventario
    </a>
  </li>
  <li>
    <a href="{{ url_for('agregar_vehiculo_route') }}">
      <i class="bi bi-truck"></i> Agregar Vehículo
    </a>
  </li>
  <li>
    <a href="{{ url_for('agregar_conductor_route') }}">
      <i class="bi bi-person-plus"></i> Agregar Conductor
    </a>
  </li>
  <li>
    <a href="{{ url_for('ordenes_pendientes') }}">
      <i class="bi bi-hourglass-split"></i> Órdenes de envío pendientes
    </a>
  </li>
  <li>
    <a href="{{ url_for('envios_asignados') }}">
      <i class="bi bi-check2-square"></i> Envíos Asignados
    </a>
  </li>
  <li>
    <a href="{{ url_for('historial_envios') }}">
      <i class="bi bi-clock-history"></i> Historial de Envíos
    </a>
  </li>
  
</ul>
</div>
</body>
</html>
